[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/vim-scripts/endwise.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
